<div class="name">
	<%= @genre.name %> <%= link_to 'Edit', edit_genre_path(@genre),:class => "edit" %>
</div>
<div class="main-details grid_8">
	
</div> <!--.main-details-->
<div class='meta grid_4'>
  <h4>Songs</h4>
  <ul>
        <% @genre.songs.each do |song| %>
        <li><%= link_to song.name, song %></li>
        <% end %>
  </ul>
  <%= link_to 'Add all albums', :add_all, method: :post %>
</div><!--.grid_4-->