<h1>Artists</h1>

<div class="index">
<% @artists.each do |artist| %>
    <div class="index-box grid_3">
    	<%= image_tag artist.photo %>
    	<div class="buttons">
    		<span class="index_name"><%= link_to artist.name, artist %></span>
	    	<%= link_to 'Edit', edit_artist_path(artist) %>
	      	<%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    	</div><!--.buttons-->
    </div>
<% end %>
</div><!--.index-->