/*
 *= require 'reset'
 *= require '960_12_col'
 *= require_self
 */


 header {
 	background-color: #87C50D;
 	text-decoration: none;
 	height: 50px;
 }

 .logo {
 	font-size: 20px;
  	font-family: 'Pacifico', cursive;

 }